/* Media queries */
@media (max-width: 930px) {
  .header span {
    font-size: 30px;
  }

  .tecnologies {
    width: 20%;
  }
}

@media (max-width: 450px) {
  .header span {
    font-size: 23px;
  }

  .subtitle {
    font-size: 30px;
  }

  .header .text {
    font-size: 15px;
  }

  .header .img-header {
    width: 90%;
  }

  .tecnologies {
    width: 30%;
  }
}

@media (max-width: 350px) {
  .header span {
    font-size: 20px;
  }
}
